:root {
  --color-bg: #FFFFFF;
  --color-gray: #f5f5f5;
  --color-text: rgb(153, 153, 153);
  --color-bg-variant: #2c2c6c;
  --color-white: #fff;
  --color-black: #333;
  --color-yellow: #F9CE06;
  --color-gray-transparent: rgba(255, 255, 255, 0.4);
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 0.2s;
  --height-header: 10rem
}


@font-face {
  font-family: hihi;
  src: url(../font/Raleway-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
  font-family: hihi;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

#main {
  max-width: 100%;
  width: 100%;
}

#header {
  display: none;
}

/* dung chung */


/* BTN */
.btn {
  background-color: transparent;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  font-family: inherit;
  color: var(--color-white);
  border: solid #fff;
  padding: 1rem 2rem;
  margin: 0 1rem 2rem 0;
  transition: 0.3s ease;
}

.btn:hover {
  cursor: pointer;
  color: var(--color-white);
}

/* SECTION */
.section_full {
  width: 100%;
}


.content_section {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 10rem;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.section_heading {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5rem;


}

.section_heading::after {
  content: "";
  width: 50px;
  margin: 8px auto 20px;
  height: 3px;
  background: var(--color-black);
  display: block;
}

/* HEADER */

#header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-bg);
  height: var(--height-header);
  justify-content: space-evenly;
  box-shadow: 5px 10px 18px #888888;
  max-width: 100%;
}

/* NAV */
/* Nav image */
.header_left {}

/* Nav link */
.header_right {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 1.4rem;
  height: inherit;
}

.nav_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  height: inherit;

}

.nav_list li {
  align-self: center;
  height: inherit;
  line-height: var(--height-header);
}


.nav_list li:hover {
  cursor: pointer;
  background-color: var(--color-gray);
}


.nav_item {
  padding: 0 2rem;
  align-self: center;
  color: var(--color-text);
  font-size: 1.4rem;
}

/* SLIDER */

.slider {
  position: relative;
  margin-top: var(--height-header);
  padding-top: 50%;
  background-image: url('../img/slide_image.jpeg');
  background-size: cover;
}

.slider_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


/* Slider text */
.text_content {
  color: var(--color-white);
}

.text_heading {
  margin-bottom: 1.5rem;
  font-size: 5rem;
  line-height: 5rem;
  font-weight: bold;
  text-align: center;
}

.text_description {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.2rem;
}

.btn_content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn_view {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Slider btn */

.btn_view:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn_now {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: var(--color-black);
  letter-spacing: 1px;
  text-transform: uppercase;

}

.btn_now:hover {
  opacity: 0.8;
}

/* Slider arrow */
.arrow_left {
  position: absolute;
  top: 45%;
  padding: 2rem 2rem;
  background-color: var(--color-gray-transparent);
  left: 0;
  border-radius: 5%;

}

.arrow_left span {
  font-size: 2rem;
  text-align: center;
}

.arrow_right {
  position: absolute;
  top: 45%;
  padding: 2rem 2rem;
  background-color: var(--color-gray-transparent);
  right: 0;
  border-radius: 5%;
}

.arrow_right span {
  font-size: 2rem;
  text-align: center;
}

/* Slider dots */

.slider_dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  padding: 1rem 1rem;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0.5rem;
}

.active {
  background-color: var(--color-yellow);
}


/* SERVICES */

.our_services {
  max-width: 100%;
  background-color: #F5F5F5;
}

.services-list {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
}

.service {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333%;
  padding: 4rem;
  margin: 0 8px 8px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 10px 18px #888888;
}

.service_icon {
  font-size: 3.5rem;
  color: var(--color-yellow);
  text-align: center;
  margin-bottom: 3rem;
}

.service_name {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--color-black);
  font-size: 1.6rem;
  margin-bottom: 1.5rem;

}

.service_description {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--color-text)
}

/* OUR_WORKS */


.our_works {
  max-width: 100%;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.work_image {
  flex-basis: 33.333%;
  padding: 8px;

}

.container_image {
  position: relative;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}


.overlay .thumb-info {
  top: 55%;
  position: relative;
  opacity: 0;
  color: var(--color-white);
}

.overlay .thumb-info h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.overlay .thumb-info p {
  font-size: 1.4rem;
}

.container_image:hover {
  overflow: hidden;
}

.container_image:hover img {
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.container_image:hover .overlay {
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
}

.container_image:hover .overlay .thumb-info {
  position: relative;
  transition-duration: 0.4s;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.work_image .container_image img {
  width: 100%;
  max-width: 100%;
}

.word_btn {
  display: flex;
  justify-content: center;
}

.btn_view-more {
  text-align: center;
  color: var(--color-black);
  font-size: 1.6rem;
  border-color: #888888;
  border-radius: 3%;
  margin: 0;
}

.btn_view-more:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}


/* OUR_CLIENTS */

.our_clients {
  max-width: 100%;
}

.client_content {
  display: flex;
  align-items: flex-end;
  position: relative;
  justify-content: center;
  background-image: url('../img/client-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}


.client_says {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 10rem 0;
}

.client_icon {
  font-size: 1.6rem;
  color: var(--color-yellow);
}

.client_heading {
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: var(--color-white);
  padding: 1.5rem 0;
}

.client_heading::after {
  display: block;
  content: "";
  width: 50px;
  margin: 8px auto 20px;
  height: 3px;
  background: var(--color-white);

}

.client_description {
  font-size: 1.4rem;
  color: var(--color-text);
  padding: 1.5rem 15rem 5rem;
  color: var(--color-white);
  text-align: center;
  /* max-width: 100%; */

}

.client_name {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--color-white);
}



.client_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url('../img/client-bg-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 4rem 2rem;
  bottom: 0;
  max-width: 100%;
}


.block_text {
  display: block;
  font-size: 1.6rem;
  color: var(--color-black);
  font-style: italic;
  margin-right: 1rem;
}

.btn_client {
  margin: 0;
  border: 1px solid var(--color-black);
  text-transform: uppercase;
  color: var(--color-black);
}

.btn_client:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* MEMBERS */

.members {
  display: flex;
  flex-wrap: wrap;
}

.member_info {
  flex-basis: 25%;
}

.member_image {
  padding: 8px;
}

.member_image img {
  width: 100%;
  max-width: 100%;
}


.member_name {
  font-size: 1.6rem;
  color: var(--color-black);
  font-weight: bold;
  margin: 2rem 0;
}



.member_description {
  font-size: 1.4rem;
  color: var(--color-text);
  line-height: 1.6;
}

.member_name,
.member_description {
  padding: 0 8px;
}


/*OUR_RECENT_POSTS */
.our_recent_posts {
  background-color: var(--color-gray);
}

.section_posts {
  display: flex;
  justify-content: space-between;
}

.current_post {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

.post_image {
  max-width: 100%;
}

.post_image:hover,
.post_heading:hover {
  cursor: pointer;
}

.post_info {
  margin: 2rem;
}



.post_heading {
  font-size: 1.6rem;
  color: var(--color-black);
  margin-bottom: 1rem;
  font-weight: bold;
}

.post_description {
  font-size: 1.4rem;
  color: var(--color-text);
  line-height: 1.6;
}

.btn_posts {
  display: none;
  text-transform: uppercase;
  width: 20rem;
  align-self: center;
  border: 1px solid var(--color-black);
  color: var(--color-black);

}

.post_news {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
}



.news_heading {
  align-self: flex-start;
  font-size: 1.8rem;
  color: var(--color-black);
  padding: 2rem 0 0 8px;


}

.post_new-info {
  display: flex;
  padding-bottom: 2rem;
}

.post_new-info:hover {
  cursor: pointer;
}

.post_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.post_new-image {
  /* width: 100%;
  max-width: 100%; */
  object-fit: contain;

}

.post_new-image,
.post_new-detail {
  padding: 8px;
}

.post_new-detail {

  font-size: 1.4rem;
  color: var(--color-text);
}

/* CONTACT US  */
.content_contact {
  display: flex;

}

.form_contact {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}




.input_contact {
  width: 100%;
  max-width: 100%;
  margin: 8px 5px;
  font-size: 1.6rem;
  padding: 1.5rem;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;

}

.btn_submit-contact {
  background-color: var(--color-yellow);
  border: 1px solid transparent;
  color: var(--color-black);
  text-transform: uppercase;
  align-self: flex-start;
  border-radius: 0.4rem;
  margin: 2rem 0.5rem;

}


.contact_list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 8px;

}



.contact_info {
  display: flex;
  flex-direction: column;
  margin: 8px 5px;
  margin-bottom: 3rem;
}

.contact_name {
  font-size: 1.6rem;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.contact_detail {
  font-size: 1.4rem;
  color: var(--color-text);
}

/* CONNECT */
.connect {
  position: relative;
  background-image: url('../img/bg-connect.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: top center; */
  max-width: 100%;
  width: 100%;
}

.connect_heading {
  color: var(--color-white) !important;
}

.connect_heading::after {
  content: "";
  width: 50px;
  margin: 8px auto 20px;
  height: 3px;
  background: var(--color-white) !important;
  display: block;
}


.socials {
  display: flex;
  justify-content: center;
}

.social_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;

}

.social_name {
  font-size: 1.6rem;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 1rem 0;
}

.social_description {
  font-size: 1.4rem;
  color: var(--color-white);
}

.social_image img:hover {
  cursor: pointer;
}


/* FOOTER */

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

.footer_section {
  padding-top: 2rem;
  padding-bottom: 0;
}

.footer_content {
  display: flex;
  margin: 0 8px;
}

.address {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 4rem;
}

.address_heading {
  margin-bottom: 3rem;
}

.address_heading,
.connective_heading {
  font-size: 1.6rem;
  font-weight: bold;
}

.address_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address_info {
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
}

.email_phone {}

.address_name {
  font-size: 1.4rem;
}

.address_detail {
  font-size: 1.2rem
}

.connective {
  flex: 1;
}

.connective_heading {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.connective_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.2rem;
  height: 20rem;
}

.connective_list li {
  flex-basis: 33.333%;
  margin-right: 1rem;
}

.connective_list li:hover {
  cursor: pointer;
}


/* width màn hình > 640px và < 960px : pc nhưng có xuất hiện scroll ngang */

@media screen and (max-width: 960px) and (min-width: 640px) {

  .header_right {
    display: none;
  }


  /* -------Responsive our_posts------ */
  .post_image {
    object-fit: contain;
  }

  .post_new-detail {
    font-size: 1rem;
  }

  .section_posts {
    padding: 0 8px;
  }
}



/* width màn hình: mobile */
@media screen and (max-width: 640px) {

  .content_section {
    /* margin: -5rem auto; */
    padding: 5rem 0;
  }

  /* -------Responsive header------ */

  .header_right {
    display: none;
  }

  /* -------Responsive slider------ */


  .slider_content h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .slider_content p {
    font-size: 1.4rem;
  }

  .btn_content {
    flex-wrap: wrap;
  }

  .dot {
    padding: 0.7rem;
  }

  .dots {
    display: none;
  }

  /* -------Responsive our_works------ */

  .btn_view-more {
    padding: 2rem 7rem;
  }

  .work_image {
    flex-basis: 50%;
  }


  /* -------Responsive our_services------ */

  .service {
    margin: 0 1rem;
  }

  .services-list {
    flex-wrap: wrap;
  }

  .service {
    flex-basis: 100%;
    margin-top: 2rem;
  }


  /* -------Responsive our_members------ */

  .members {
    margin: 0 1rem;
  }

  .member_info {
    flex-basis: 50%;
  }

  /* -------Responsive our_posts------ */


  .post_news {
    display: none;
  }

  .current_post {
    flex-basis: 100%;
  }


  .btn_posts {
    display: block;
    margin: 0;
  }


  /* -------Responsive contact_us------ */

  .content_contact {
    flex-wrap: wrap;
  }

  .form_contact {
    flex-basis: 100%;
    margin: 0 1rem;
  }

  .contact_list {
    flex-basis: 100%;
    margin: 0 2rem;
  }



  /* -------Responsive connect_us ------ */



  .socials {
    flex-wrap: wrap
  }

  .social_info {
    flex-basis: 50%;
  }


  /* -------Responsive footer------ */

  .footer_content {
    flex-direction: column;
    margin: 0 1rem;
  }

  .address {
    margin-bottom: 3rem;
  }

  .connective_list li {
    flex-basis: 20%;
  }
}



.nav_mobile-icon {
  position: absolute;
  right: 2rem;
  display: none;
  font-size: 4rem;
  color: black;
}

.nav_mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform linear 0.3s
}

.nav_mobile-list {
  background-color: var(--color-bg);

}

.nav_mobile-list li {
  padding: 2rem;
  text-transform: uppercase;
}

.nav_mobile-list li:hover {
  background-color: var(--color-gray);
}

.nav_mobile-item {
  display: block;
  color: var(--color-black);
  padding: 8px 0;
  font-size: 1.6rem;
}


.nav_input:checked~.nav_overlay {
  display: block;
}

.nav_input:checked~.nav_mobile {
  transform: translateX(0);
  opacity: 1;
}



@media screen and (max-width: 960px) {

  .nav_mobile-icon {
    display: block;
  }

  .nav_mobile {
    display: block;
  }
}